@use "../../sass/abstracts/" as a;

.container {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
        width: 30%;
    }

    input::placeholder {
        color: a.$color-white;
    }

    .select_container {
        select {
            width: 7rem;
            margin-left: 0.5rem;
            border-radius: a.$radius-small;

            option {
                border-radius: none;
            }
        }

        label:nth-of-type(2) {
            margin-left: 2rem;
        }
    }
}
