@use "../../sass/abstracts/" as a;

.posts_container {
    border: 1px solid a.$color-black;
    border-radius: a.$radius-medium;
    padding: 1rem;
    width: a.$container-width;
    margin-top: 2rem;
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    background-image: url("../../../img/freepik__upload__84523.jpg");
    background-position: center;
    background-size: cover;

    .placeholder {
        text-align: center;
        font-size: 2rem;
    }
}
