@use "../../sass/abstracts/" as a;

.posts_container {
    border: 1px solid a.$color-black;
    border-radius: a.$radius-small;
    padding: 1rem;
    width: a.$container-width;
    margin-top: 2rem;
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;

    .post {
        margin-top: 1rem;
        background: a.$color;
        padding: 0.4rem;
        border-radius: a.$radius-small;

        p:nth-of-type(2) {
            color: a.$color-white;
            margin: 0.3rem 0;
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
                padding: 0.2rem 0.4rem;
                text-transform: uppercase;
                border: none;
                border-radius: a.$radius-small;
                cursor: pointer;
            }

            button:nth-of-type(2) {
                margin-left: 1rem;
            }
        }
    }
}
