@use "../../sass/abstracts/" as a;

.posts_container {
    overflow: hidden;
    border: 1px solid a.$color-black;
    border-radius: a.$radius-medium;
    flex-grow: 1;
    width: a.$container-width;
    margin-top: 10vh;
    margin-bottom: 1rem;
    background-image: url("../../../img/background_v3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: a.$main-drop-filter;

    li:last-of-type {
        margin-bottom: 4rem;
    }

    .posts_list {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: 1rem;

        .placeholder {
            text-align: center;
            font-size: 2rem;
        }
    }
}

.loader_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;

    .loader {
        position: relative;
        width: 100px;
        height: 16px;
        margin-left: 1rem;
    }
    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 32px 0 #fff;
        left: 0;
        top: 0;
        animation: ballMoveX 1s linear infinite;
    }
    .loader:after {
        box-shadow: none;
        transform-origin: 40px 0;
        transform: rotate(-153deg);
        animation: rotateLoader 1s linear infinite;
    }

    @keyframes rotateLoader {
        0%,
        10% {
            transform: rotate(-153deg);
        }
        90%,
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes ballMoveX {
        0%,
        10% {
            transform: translateX(0);
        }
        90%,
        100% {
            transform: translateX(32px);
        }
    }
}
