// BORDER RADIUS

$radius-small: 5px;
$radius-medium: 10px;
$radius-big: 20px;

// MAIN CONTAINERS WIDTH

$container-width: min(90vw, 1400px);

// BACKGROUND FILTER

$main-drop-filter: drop-shadow(black 1rem 1rem 10px);
