@use "../../sass/abstracts/" as a;

.post {
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid a.$color-black;
    backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    border-radius: a.$radius-small;
    filter: drop-shadow((a.$color-black) 1rem 1rem 15px);

    p:nth-of-type(2) {
        color: a.$color-black;
        margin: 0.3rem 0;
        white-space: pre-wrap;
    }

    p {
        margin: 1rem 0;
    }

    .title {
        text-align: center;
    }

    .author {
        span {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .footer {
        display: flex;
        align-items: center;

        .date {
            text-align: left;
            text-wrap: nowrap;
            font-size: 0.8rem;
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
            padding: 0.3rem 0.5rem;
            text-transform: uppercase;
            border: none;
            border-radius: a.$radius-small;
            cursor: pointer;
            background-color: a.$color-black;
            color: a.$color-white;
        }

        button:nth-of-type(2) {
            margin-left: 1rem;
        }
    }
}
